<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not found</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
    <script src="https://kit.fontawesome.com/e931be9ca1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="centered">
        <h1>404</h1>
        <p>404 Not Found</p>
        <a href="/"><button class="btn"><i class="fas fa-home"></i> Home</button></a>
    </div>
    <div class="footer">
        <p>Uploader v1.0 <b>―</b> Personal project of <a href="https://rmly.dev">Rmly</p>
    </div>
</body>
</html>