@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(15,15,15);
    color: #edeeef;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

img {
    max-width: 700px;
    max-height: 500px;
}

a {
    color: #edeeef;
    text-decoration: none;
}

a:hover {
    color: rgb(192,192,192);
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.btn {
    transition-duration: 0.4s;
    font-size: 15px;
    background-color: inherit;
    color: inherit;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;   
}

.btn:hover {
    border: 1px solid #e8eae6;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
 }

.footer a {
    color: rgb(192,192,192);
    text-decoration: none;
}

.footer a:hover {
    color: #edeeef;
}