@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(15,15,15);
    color: #edeeef;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95vh;
}

img {
    max-width: 700px;
    max-height: 500px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.btn {
    transition-duration: 0.4s;
    font-size: 15px;
    background-color: inherit;
    color: inherit;
    border: 3px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;   
}

.btn:hover {
    border: 3px solid #e8eae6;
    color: rgb(192,192,192);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
 }

.footer a {
    color: rgb(192,192,192);
    text-decoration: none;
}

.footer a:hover {
    color: #edeeef;
}

input[type=text], input[type=password] {
  padding:10px;
  border-radius:10px;
  font-family:inherit;
  font-size: 15px;
  text-align: center;
}

input[type=submit] {
    padding:5px 15px; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}